ul.nav .sub-menu {
  position: absolute;
  width: 180px;
  background: #e7e7e70bd;
  top: 340px;
  display: none;
}
ul.nav .sub-menu a {
  color: #777;
  padding: 10px 15px;
  display: block;
}
ul.nav .sub-menu a:hover {
  color: #777;
}

/* ホバーで子メニュー表示 */
ul.nav .menu-item-has-children:hover ul {
  display: block;
}
ul.nav li.menu-item-has-children li a:hover {
  background: #0090aa;
}