@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 'Meiryo', 'メイリオ', 'Noto Sans Japanese', sans-serif;
}

body p {
	font-family:  'Hiragino Maru Gothic ProN', 'ヒラギノ丸ゴ ProN W4', 'HG丸ｺﾞｼｯｸM-PRO','HGMaruGothicMPRO', 'Noto Sans Japanese', sans-serif;
	font-size: medium;
}


body li {
	font-family:  'Hiragino Maru Gothic ProN', 'ヒラギノ丸ゴ ProN W4', 'HG丸ｺﾞｼｯｸM-PRO','HGMaruGothicMPRO', 'Noto Sans Japanese', sans-serif;
	font-size: medium;
}